@charset "utf-8";
/* CSS Document */

.sec_title {
    position: relative;
    z-index: 55;
    padding-bottom: 30px;
    line-height: 1;
	text-align:center;
}

.sec_title h2
{
	font-size:99px;
}

.services{
    display: inline-block;
}

.services p{
    font-size: 46px;
    padding-left:165px;
    margin: 0;
    max-width: 600px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align: center;
}

.services ul{
    list-style-type: square;
    font-size: 44px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
	padding-left: 250px;
}

.services li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/*===============================================
            Medium screen
===============================================*/
@media(min-width:2200px) and (max-width:3309px)
{
	.services p{
		padding-left:300px;
		max-width: 700px;
	}
	
	.services ul{
		padding-left: 322px;
	}
}

@media(min-width:1510px) and (max-width:1909px)
{
	.services p{
		padding-left:300px;
		max-width: 700px;
	}
	
	.services ul{
		padding-left: 322px;
	}
}

@media(min-width:1410px) and (max-width:1509px)
{
	.services p{
		padding-left:200px;
		max-width: 700px;
	}
}

@media(min-width:1200px) and (max-width:1409px)
{
	.services p{
		padding-left:300px;
		max-width: 700px;
	}
	
	.services ul{
		padding-left: 322px;
	}
}

@media(min-width:1180px) and (max-width:1199px)
{
	.services p{
		padding-left:290px;
	}
	
	.services ul{
		padding-left: 313px;
	}
}

@media(min-width:992px) and (max-width:1179px)
{
	.services p{
		padding-left:195px;
	}
	
	.services ul{
		padding-left: 216px;
	}
}

/*===============================================
            Small screen
===============================================*/
@media(min-width:768px) and (max-width:991px)
{
	.services p{
		padding-left:190px;
	}
	
	.services ul{
		padding-left: 210px;
	}
}

/*===============================================
            Smart phone & Small screen
===============================================*/
@media(max-width:767px)
{

}

/*===============================================
            mobile screen
===============================================*/
@media(max-width:400px)
{

}